<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/styles/auto_reg_header.css" %}">
    <link rel="stylesheet" href="{% static "/styles/autorization.css" %}">
    <link rel="stylesheet" href="{% static "/styles/text.css" %}">
    <link rel="stylesheet" href="{% static "/styles/footer.css" %}">
    <title>Engineer's database</title>
</head>
<body>
    <header>
        <div class="con_menu_text">
            <a class="con_logo_img_text" href="{% url 'index' %}">
                <img src="{% static "/svg/Vector_logo.svg" %}" alt="Engineer's database">
                <div class="con_logo_text">
                    <span class="bold-16">
                        Engineer's database
                    </span>
                    <span class="bold-16 logo_text_2">
                        Ваш помощник в работе
                    </span>
                </div>
            </a>
            <div class="con_menu">
                <a href="{% url 'knowledgebase' %}" class="menu_a bold-16">
                    База знаний
                </a>
                <a href="{% url 'forum' %}" class="menu_a bold-16">
                    Форум
                </a>
                <a href="{% url 'pattern' %}" class="menu_a bold-16">
                    Шаблоны
                </a>
            </div>
        </div>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn bold-16">Меню</button>
            <div id="myDropdown" class="dropdown-content">
                {% if request.session.user_token %}
                    <a href="{% url 'profile-page' request.session.user_id %}">Профиль</a>
                    <a href="{% url 'user-logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'user-registration-confirm' %}">Подтвердить потчу</a>
                    <a href="{% url 'user-registration' %}">Зарегестрироваться</a>
                    <a href="{% url 'user-login' %}">Войти</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="con_form">
            <span class="bold-24 hel text_white">
                Войдите!
            </span>
            <form method="POST" class="form" action="{% url 'user-login' %}">
                <input class="in bold-16" placeholder="Email" type="email" name="email">
                <input class="in bold-16" placeholder="Пароль" type="password" name="password">
                <a class="bold-20 text_white" href="{% url 'user-registration' %}">Зарегистрироваться</a>
                {% if Errors %}
                    <span class="text_red bold-16">
                        {% if Errors.email %}
                            {%for x in Errors.email %}
                                {{ x }}
                            {% endfor %}
                        {% else %}
                            {{ Errors }}
                        {% endif %}
                    </span>
                {% endif %}
                <button class="btn bold-20">Войти</button>
            </form>
        </div>
    </main>
    <footter class="foot">
        <div class="con_ct">
            <span class="color_white bold-16">
                +79154147366
            </span>
            <span  class="color_white bold-16">
                kuzminov399@yandex.ru
            </span>
        </div>
        <span  class="color_white bold-16">
            © 2024 “Engineer's database” 
        </span>
    </footter>
    <script src="{% static "/js/menu.js" %}"></script>
</body>
</html>