<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/creating_forum.css">
    <link rel="stylesheet" href="/styles/creating_forum_header.css">
    <link rel="stylesheet" href="/styles/text.css">
    <title>Engineer's database</title>
</head>
<body>
    <header>
        <div class="con_menu_text">
            <a class="con_logo_img_text" href="{% url 'index' %}">
                <img src="/svg/Vector_logo.svg" alt="Engineer's database">
                <div class="con_logo_text">
                    <span class="bold-16">
                        Engineer's database
                    </span>
                    <span class="bold-16 logo_text_2">
                        Ваш помощник в работе
                    </span>
                </div>
            </a>
            <div class="con_menu">
                <a href="{% url 'knowledgebase' %}" class="menu_a bold-16">
                    База знаний
                </a>
                <a href="{% url 'forum' %}" class="menu_a bold-16">
                    Форум
                </a>
                <a href="" class="menu_a bold-16">
                    Шаблоны
                </a>
            </div>
        </div>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn bold-16">Меню</button>
            <div id="myDropdown" class="dropdown-content">
                {% if request.session.user_token %}
                    <a href="">Профиль</a>
                    <a href="{% url 'user-logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'user-registration-confirm' %}">Подтвердить потчу</a>
                    <a href="{% url 'user-registration' %}">Зарегистрироваться</a>
                    <a href="{% url 'user-login' %}">Войти</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="con_main">
            <form class="con_theme" method="POST">
                <input class="in_to bold-20" type="text" placeholder="Введите ваш вопрос или тему">
                <button class="go_to bold-16">
                    Создать запрос
                </button> 
            </form>
        </div>
    </main>
    <script src="/js/menu.js"></script>
</body>
</html>