.foot{
    background-color: rgb(126, 126, 126);
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.color_white{
    color: white;
}

.con_ct{
    display: flex;
    gap: 50px;
}